@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    scroll-behavior: smooth;
}

body {
    width: 100vh;
    height: 100vh;
    background: linear-gradient(to right, rgb(5, 117, 230), rgb(13, 75, 160));
}

.container {
    position: absolute;
    max-width: 1000px;
    background-color: #fff;
    margin: 50px 20%;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.container:after {
    position: absolute;
    content: "";
    bottom: -50px;
    height: 50px;
    width: 1px;
}

.ssn-logo {
    width: 100px;
}

h2 {
    margin: 40px 0 10px;
}

p {
    font-size: 1.1em;
}

.formula {
    display: block;
    width: 500px;
}

.list {
    padding: 10px 50px;
}

.list li {
    padding: 5px 0;
}

.note {
    font-size: 0.9rem;
}

.percentage {
    text-align: center;
    width: 300px;
    border: 2px solid black;
    font-size: larger;
    padding: 10px;
}

.blue {
    color: #0d4ba0;
}

.center {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}




.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    border: 2px solid #0d4ba0;
}

.styled-table thead tr {
    background-color: #0d4ba0;
    color: #ffffff;
    border-right: 2px solid white;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-right: 2px solid #0d4ba0;
}

.styled-table thead th {
    border-bottom: 1px solid #dddddd;
    font-weight: 600;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    font-weight: 500;
}

.styled-table tbody td:nth-of-type(1) {
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}



/* For the cicular Progress bar */
#progress {
    position: fixed;
    display: grid;
    bottom: 20px;
    right: 30px;
    height: 70px;
    width: 70px;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    cursor: pointer;
}

#progress-value {
    display: grid;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 50%;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}
