.toast {
    position: fixed;
    top: 70px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #00D100;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 99;
}

.toast.success {
    border-left-color: #00D100;
}

.toast.error {
    border-left-color: #DD0000;
}

.toast.active {
    transform: translateX(0%);
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 30px;
    border-radius: 50%;
}

.toast.success .toast-content i {
    background-color: #00D100;
}

.toast.error .toast-content i {
    background-color: #DD0000;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 16px;
    font-weight: 400;
    ;
    color: #333;
}

.message .text.text-1 {
    font-weight: 600;
    color: #000;
}

.toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
    color: #000;
}

.toast .close:hover {
    opacity: 1;
    transform: scale(1.2);
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toast .progressfull {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #00D100;
}

.toast .progress:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.toast.success .progress:before {
    background-color: #00D100;
}

.toast.error .progress:before {
    background-color: #DD0000;
}

.progress.active:before {
    animation: progress 4s linear forwards;
}


@keyframes progress {
    100% {
        right: 100%;
    }
}