<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- For Icon logo -->
    <link rel="icon" type="image/x-icon" href="../images/ssn.png">

    <!-- For Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="../css/dashboard.css" />
    <link rel="stylesheet" href="../css/animation.css" />
    <link rel="stylesheet" href="../css/nav-styles.css" />
    <link rel="stylesheet" href="../css/toast.css" />

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>

    <title>DashBoard</title>
</head>

<body ng-app="myApp" ng-controller="dashboardController">

    <div id="progress" ng-click="smoothScroll()">
        <a id="progress-value"><i class="fa-solid fa-arrow-up"></i></a>
    </div>


    <!-- The Vertical Navbar -->
    <navbar></navbar>

    <div class="container">
        <div>
            <img class="ssn-logo" src="../images/ssn-logo.png" alt="ssn logo" />
            <br>
            <h1>Welcome Back, {{student.name}}! 👋</h1>
        </div>

        <br>

        <div class="heading2">
            <i class="fa-solid fa-user-graduate"></i>
            <span>Student Details</span>
            <hr>
        </div>

        <br>

        <div class="details-container">
            <i class="fa-solid fa-circle-user"></i>
            <span>Personal Information</span>
            <hr>
            <div class="student-details">
                <div class="details large">
                    <i class="fa-solid fa-user"></i>
                    <span>Full Name</span>
                    <hr>
                    <p>{{student.name}}</p>
                </div>

                <div class="details small">
                    <i class="fa-solid fa-address-card"></i>
                    <span>Registration Number</span>
                    <hr>
                    <p>{{student.regNo}}</p>
                </div>

                <div class="details small">
                    <i class="fa-solid fa-id-card"></i>
                    <span>Digital ID</span>
                    <hr>
                    <p>{{student.digitalid}}</p>
                </div>

                <div class="details large">
                    <i class="fa-solid fa-envelope"></i>
                    <span>SSN Mail ID</span>
                    <hr>
                    <p>{{student.email}}</p>
                </div>

                <div class="details small">
                    <i class="fa-solid fa-building"></i>
                    <span>Department</span>
                    <hr>
                    <p>{{student.dept}}</p>
                </div>

                <div class="details small">
                    <i class="fa-solid fa-list-ol"></i>
                    <span>Semester</span>
                    <hr>
                    <p>{{student.semester}}</p>
                </div>
            </div>

        </div>

        <br><br>
        <div class="heading2">
            <i class="fa-solid fa-graduation-cap"></i>
            <span>Academic Performance</span>
            <hr>
        </div>
        <br>

        <h2 class="heading">CAT Subject-wise Details</h2>

        <div class="cat-container">
            <h4>Enter Subject Name to Filter Search</h4>
            <input type="text" ng-model="searchQuery" placeholder="Search by Subject Name">
            <br><br>
            <h1 id="cat-number">CAT-1</h1>
            <br>
            <div class="slider">
                <button class="arrow-btn" ng-click="changeCatLeft()"><i
                        class="fa-solid fa-circle-arrow-left"></i></button>

                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>SUBJECT</th>
                            <th>CREDITS</th>
                            <th>MARK (Out of 100)</th>
                            <th>ATTENDANCE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="subject in subjects | filter:searchQuery | limitTo:6">
                            <td class=" sub-name">{{subject.course}}</td>
                            <td class="sub-credit">{{subject.credits}}</td>
                            <td class="sub-mark">{{marks[$index]}}</td>
                            <td class="sub-mark">{{attendance[$index]}}%</td>
                        </tr>
                    </tbody>
                </table>

                <button class="arrow-btn" ng-click="changeCatRight()"><i
                        class="fa-solid fa-circle-arrow-right"></i></button>
            </div>
        </div>

        <br>
        <hr><br>

        <h2 class="heading">CAT Average Details</h2>

        <div class="avg-cat-details">
            <div class="cat-card" ng-repeat="subject in subjects | limitTo: 6 track by $index">
                <div class="cat-card-title">
                    <span class="overlay"></span>
                    <p>{{subject.course}}</p>
                </div>

                <div class="cat-card-content">
                    <div class="mark">
                        <h2 class="name">Marks: </h2>
                        <span class="description">{{student.avg_cat_marks[$index] | number:2 }}</span>
                    </div>
                    <div class="attendance">
                        <h2 class="name">Attendance: </h2>
                        <span class="description">{{student.avg_attendance[$index] | number:2 }}%</span>
                    </div>
                </div>
            </div>


            <div class="graphs">
                <div class="avg-percentage">
                    <div class="circular-progress">
                        <span class="progress-value">0</span>
                    </div>
                    <span class="progress-text">SEM CGPA</span>
                </div>

                <div class="avg-percentage">
                    <div class="circular-progress">
                        <span class="progress-value">0%</span>
                    </div>
                    <span class="progress-text">Average Attendance</span>
                </div>
            </div>
        </div>

        <br><br>
        <hr><br>

        <h2 class="heading">SEM Details</h2>
        <div class="sem-container">
            <div class="sem-details">
                <div class="sem-card" ng-repeat="sem in student.sem_gpa track by $index">
                    <div class="sem-card-bg"></div>
                    <p class="sem-card-title">Sem {{$index + 1}}</p>
                    <!-- <span class="sem-card-span">GPA:</span> -->
                    <span class="sem-card-content">{{sem !=0 ? sem : '--'}}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- The Toast Notification -->
    <div>
        <div class="toast success">
            <div class="toast-content">
                <i class="fa-solid fa-check"></i>

                <div class="message">
                    <span class="text text-1">Success</span>
                    <span id="message" class="text text-2"></span>
                </div>
            </div>
            <i class="fa-solid fa-xmark close"></i>

            <div class="progress"></div>
        </div>

        <div class="toast error">
            <div class="toast-content">
                <i class="fa-solid fa-xmark"></i>

                <div class="message">
                    <span class="text text-1">Error</span>
                    <span class="text text-2"></span>
                </div>
            </div>
            <i class="fa-solid fa-xmark close"></i>

            <div class="progress"></div>
        </div>
    </div>

    <!-- Wrapper for animation area -->
    <div class="animation-area">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>


</body>

<script src="../js/toast.js"></script>
<script src="../js/dashboard.js"></script>
<script src="../js/navbar.js"></script>

</html>