<form class="tab-panel fade" id="password" name="passwordForm" ng-submit="submitPasswordForm()">
    <div class="heading">
        <i class="fa-solid fa-user-pen"></i>
        <h3>Password Settings</h3>
    </div>

    <hr>

    <div class="user-details" style="margin-top: 30px;">
        <div class="input-box">
            <span class="details">Old Password</span>
            <input type="password" ng-model="oldpass" placeholder="Enter Old Password" autocomplete="current-password"
                minlength="8" required>
        </div>

        <div class="input-box"></div>

        <div class="input-box" style="margin-top: 15px;">
            <span class="details">New Password</span>
            <input type="password" ng-model="newpass" placeholder="Enter New Password" autocomplete="new-password"
                minlength="8" required>
        </div>

        <div class="input-box"></div>

        <div class="input-box">
            <span class="details">Confirm New Password</span>
            <input type="password" ng-model="confirmnewpass" placeholder="Re-enter New Password" minlength="8"
                autocomplete="new-password" required>
        </div>
    </div>

    <div class="btn-grp">
        <input type="submit" value="Update" class="btn btn-primary">
        <input type="button" value="Cancel" class="btn btn-light" ng-click="cancel()">
    </div>
    
</form>